<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Name</label>
    <input
      class="form-control"
      formControlName="name"
      placeholder="Entrez le nom du produit"
      [ngClass]="{
        'is-invalid':
          productForm.get('name')?.invalid && productForm.get('name')?.touched
      }"
    />
  </div>

  <div class="form-group">
    <label>Description</label>
    <textarea
      class="form-control"
      formControlName="description"
      placeholder="Décrivez le produit"
    ></textarea>
  </div>

  <div class="form-group">
    <label>Price</label>
    <input
      type="number"
      class="form-control"
      formControlName="price"
      placeholder="Prix en €"
      [ngClass]="{
        'is-invalid':
          productForm.get('price')?.invalid && productForm.get('price')?.touched
      }"
    />
  </div>

  <div class="form-group">
    <label>Category</label>
    <select
      name="category"
      id="category"
      class="form-select form-select-sm"
      formControlName="category"
      [ngClass]="{
        'is-invalid':
          productForm.get('category')?.invalid &&
          productForm.get('category')?.touched
      }"
    >
      > @for (category of categories$ | async; track category) {
      <option [value]="category.name.toLocaleLowerCase()">
        {{ category.name }}
      </option>
      }
    </select>
  </div>

  <div class="form-group">
    <label>Image</label>
    <input
      type="text"
      class="form-control"
      formControlName="imageUrl"
      placeholder="Lien vers une image"
    />
  </div>

  <div class="form-group">
    <label>Status</label>
    <select
      class="form-select form-select-sm"
      formControlName="availability"
      [ngClass]="{
        'is-invalid':
          productForm.get('availability')?.invalid &&
          productForm.get('availability')?.touched
      }"
    >
      <option value="available">Available</option>
      <option value="not available">Not Available</option>
    </select>
  </div>

  <div class="form-group">
    <label>Quantity</label>
    <input
      type="number"
      class="form-control"
      formControlName="quantityLeft"
      placeholder="Quantité en stock"
      [ngClass]="{
        'is-invalid':
          productForm.get('quantityLeft')?.invalid &&
          productForm.get('quantityLeft')?.touched
      }"
    />
  </div>

  <button
    type="submit"
    class="btn btn-primary mt-3"
    [disabled]="productForm.invalid"
  >
    {{ product ? "Update" : "Create" }} product
  </button>
</form>
