a {
  padding: 5px 20px;
}

a:hover {
  background-color: #d1d1d1;
}

#title:hover {
  background-color: transparent;
}

nav {
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
}

.btn {
  margin-right: 10px;
}

.active {
  background-color: #d1d1d1;
  border: none;
}
