<table class="table table-striped w-100 border table-hover">
  <thead>
    <tr>
      <th>Order #</th>
      <th>Date</th>
      <th>Status</th>
      <th>Products</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    @for(order of orders; track order) {
    <tr (click)="goToOrderDetails(order.id)">
      <td>{{ order.id }}</td>
      <td>{{ order.createdAt | date : "shortDate" }}</td>
      <td [ngClass]="getOrderStatusClass(order.status)">
        {{ order.status | orderStatus }}
      </td>
      <td>{{ getTotalQuantity(order) }}</td>
      <td>{{ getTotalPrice(order) | currency }}</td>
    </tr>
    }
  </tbody>
</table>
