<div class="list-card w-100" routerLink="/products/{{ product.id }}/details">
  <div class="card-header position-relative">
    <img [src]="imageUrl" class="rounded" alt="..." />
    <div
      class="position-absolute top-0 end-0"
      (click)="toggleToWishlistHandler($event)"
    >
      @if (isWishlist) {
      <i class="bi bi-heart-fill mx-1 text-danger fs-5"></i>} @else {
      <i class="bi bi-heart mx-1 fs-5"></i>
      }
    </div>
  </div>
  <div class="d-flex flex-column gap-2 card-body">
    <div>
      <div class="d-flex flex-row justify-content-between align-items-center">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text fw-bold price">
          {{ product.price | currency }}
        </p>
      </div>
      <app-star-rating [rating]="product.rating"></app-star-rating>
    </div>
  </div>
</div>
<div
  class="add-to-cart-card d-flex flex-row justify-content-end align-items-center border-top"
>
  @if(product.quantityLeft > 0) {
  <div class="quantity">
    <button (click)="increment(spanRef, product)">+</button>
    <span #spanRef>1</span>
    <button (click)="decrement(spanRef)">-</button>
  </div>
  <button
    class="btn addToCart d-flex flex-row gap-2"
    (click)="addToCartHandler(spanRef)"
  >
    <p>Add to Cart</p>
    <i class="bi bi-basket3"></i>
  </button>
  } @else {
  <div class="out-of-stock text-danger">
    <p>Out of Stock</p>
  </div>
  }
</div>
