.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 370px;
  padding: 10px;
  border-radius: 10px;
  background-color: #f0f0f0;
}

.product-card:hover {
  cursor: pointer;
  background-color: #e0e0e0;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 250px;
  margin-bottom: 5px;
}

.product-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-body {
  flex-grow: 1;
}

.price {
  justify-self: flex-end;
  align-self: flex-end;
}
