.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 370px;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  background-color: #f0f0f0;
}

.product-card:hover {
  cursor: pointer;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 240px;
  margin-bottom: 5px;
}

.product-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.add-to-cart-card {
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 0 0 10px 10px;
  padding: 10px;
}

.add-to-cart-card i {
  font-size: 0.9em;
}

.add-to-cart-card p {
  padding: 0;
  margin: 0;
  margin-right: 5px;
}

.card-body {
  height: 100px;
}

.price {
  justify-self: flex-end;
  align-self: flex-end;
}

.multiselect {
  display: flex;
  flex-direction: column;
  gap: 10px;

  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;

  position: relative;

  max-height: 400px;
  overflow-y: scroll;
}

.multiselect label {
  padding-left: 5px;
}

.multiselect p {
  position: absolute;
  z-index: 100;
  top: -14px;
  left: 5px;
  background-color: #fff;
}

.multiselect div div {
  display: flex;
  align-items: center;
  gap: 5px;
}

input#search {
  border: none;
}

input#search:focus {
  outline: none;
}

.list-card {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 5px;
  border-radius: 10px 10px 0 0;
  height: 250px;
  background-color: #f0f0f0;
}

.list-card:hover {
  cursor: pointer;
}

.list-card img {
  height: 100%;
  width: 250px;
  object-fit: cover;
}

.list-card .price {
  justify-self: flex-end;
  align-self: flex-end;
}

.list-card .card-body {
  flex-grow: 1;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.btn-display-style {
  padding: 5px 10px;
  border-radius: 5px 0 0 5px;
  color: #000;
  border: none;
}

.btn-display-style:last-child {
  border-radius: 0 5px 5px 0;
}

.btn-display-style:focus {
  outline: none;
}

button.btn-active {
  background-color: #e0e0e0;
}

.btn-display-style:hover {
  cursor: pointer;
  background-color: #e0e0e0;
}

i {
  font-size: 0.8em;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: #e0e0e0;
}

.quantity:hover {
  cursor: pointer;
  background-color: #e0e0e0;
}

.quantity button {
  border: none;
  background-color: none;
  padding: 5px;
  border-radius: 5px;
  background-color: #e0e0e0;
}

.quantity button:hover {
  cursor: pointer;
  background-color: #d0d0d0;
}

button.addToCart {
  cursor: pointer;
  background-color: #e0e0e0;
}

button.addToCart:hover {
  background-color: #d0d0d0;
}
