<div class="container p-3">
  <h1>Product Catalog</h1>
  <div class="d-flex flex-row gap-2">
    <div class="w-25 d-flex flex-column gap-3">
      <div class="d-flex flex-row justify-content-between align-items-center">
        <div
          class="d-flex align-items-center border border-1 rounded-3 shadow-xs bg-white px-2 py-1"
          style="width: 250px"
        >
          <i class="bi bi-search"></i>
          <input
            type="text"
            id="search"
            class="px-2 w-100"
            placeholder="Name, Category, ..."
            (input)="search($event)"
          />
        </div>
      </div>
      <div>
        <label for="category">Artisan:</label>
        <div class="multiselect">
          <div>
            @for (artisan of artisans$ | async; track $index) {
            <div>
              <input
                type="checkbox"
                [id]="'category-' + artisan.userId"
                [value]="artisan.userId"
                (change)="onArtisanSelect($event)"
              />
              <label [for]="'category-' + artisan.userId">{{
                artisan.username
              }}</label>
            </div>
            }
          </div>
        </div>
      </div>
      <div>
        <label for="category">Category:</label>
        <div class="multiselect">
          <div>
            @for (category of categories$ | async; track $index) {
            <div>
              <input
                type="checkbox"
                [id]="'category-' + category.id"
                [value]="category.id"
                (change)="onCategorySelect($event)"
              />
              <label [for]="'category-' + category.id">{{
                category.name
              }}</label>
            </div>
            }
          </div>
        </div>
      </div>
      <div>
        <label for="category">Rating:</label>
        <div class="multiselect">
          <div>
            <div>
              <input
                type="checkbox"
                [id]="5"
                [value]="5"
                (change)="onRatingSelect($event)"
              />
              <label [for]="5"></label>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <div>
              <input
                type="checkbox"
                [id]="4"
                [value]="4"
                (change)="onRatingSelect($event)"
              />
              <label [for]="4"></label>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <div>
              <input
                type="checkbox"
                [id]="3"
                [value]="3"
                (change)="onRatingSelect($event)"
              />
              <label [for]="3"></label>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <div>
              <input
                type="checkbox"
                [id]="2"
                [value]="2"
                (change)="onRatingSelect($event)"
              />
              <label [for]="2"></label>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <div>
              <input
                type="checkbox"
                [id]="1"
                [value]="1"
                (change)="onRatingSelect($event)"
              />
              <label [for]="1"></label>
              <i class="bi bi-star-fill"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div
        class="mb-3 d-flex flex-row gap-2 align-items-center justify-content-end"
      >
        <select id="sort" class="form-select w-25" (change)="sortBy($event)">
          <option value="name asc">Name Asc</option>
          <option value="name desc">Name Desc</option>
          <option value="price asc">Price Asc</option>
          <option value="price desc">Price Desc</option>
          <option value="rating asc">Rating Asc</option>
          <option value="rating desc">Rating Desc</option>
        </select>
        <div>
          <button
            class="btn-display-style"
            (click)="onViewChange('grid')"
            [ngClass]="{ 'btn-active': view === 'grid' }"
          >
            <i class="bi bi-grid"></i>
          </button>
          <button
            class="btn-display-style"
            (click)="onViewChange('list')"
            [ngClass]="{ 'btn-active': view === 'list' }"
          >
            <i class="bi bi-list"></i>
          </button>
        </div>
      </div>
      @if(view === 'grid') {
      <div class="row">
        @for (item of products$ | async; track $index) {
        <app-product-card-grid
          class="col col-12 col-md-6 col-lg-4 mb-3"
          [product]="item"
          [imageUrl]="getImageUrl(item.imageUrl)"
          [isWishlist]="favorites.includes(item.id)"
          (toggleToWishlist)="toggleFavorite($event)"
          (addToCart)="addToCart($event)"
        ></app-product-card-grid>
        }
      </div>
      } @else if (view === 'list') {
      <div class="d-flex flex-column gap-3">
        @for (item of products$ | async; track $index) {
        <app-product-card-list
          class="w-100"
          [product]="item"
          [imageUrl]="getImageUrl(item.imageUrl)"
          [isWishlist]="favorites.includes(item.id)"
          (toggleToWishlist)="toggleFavorite($event)"
          (addToCart)="addToCart($event)"
        ></app-product-card-list>
        }
      </div>
      }
    </div>
  </div>
</div>
