<div
  class="d-flex flex-column justify-content-between align-items-center mb-3 pt-5 px-4"
>
  <div
    class="d-flex flex-row justify-content-between align-items-center mb-3 w-100"
  >
    <h3 class="text-center">My Products</h3>
    <button id="add-product-btn">Add Product</button>
  </div>
  <hr class="w-100 my-3" />
  <div
    class="d-flex flex-column justify-content-between align-items-center mb-3 w-100"
  >
    <div
      class="d-flex flex-row justify-content-between align-items-center w-100"
    >
      <div class="d-flex flex-row gap-3">
        <div class="d-flex flex-row gap-1 align-items-center">
          <label for="status">Availability: </label>
          <select
            name="status"
            id="status"
            class="form-select form-select-sm"
            [(ngModel)]="filters.availability"
            (ngModelChange)="applyFilters()"
          >
            <option value="">All</option>
            <option value="available">Available</option>
            <option value="not available">Not Available</option>
          </select>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-between align-items-center">
        <div
          class="d-flex align-items-center border border-1 rounded-3 shadow-xs bg-white px-2 py-1"
          style="width: 250px"
        >
          <i class="bi bi-search"></i>
          <input
            type="text"
            id="search"
            class="px-2 w-100"
            placeholder="Name, Category, Status..."
            (input)="search($event)"
          />
        </div>
      </div>
    </div>
  </div>
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th scope="col"><input type="checkbox" name="" id="" /></th>
        <th scope="col">Image</th>
        <th role="button" (dblclick)="sortBy('name')" style="user-select: none">
          <div class="d-flex flex-row gap-1 align-items-center">
            Name
            <div class="d-flex flex-column gap-0 d-inline-flex">
              <i class="bi bi-caret-up-fill justify-self-end"></i>
              <i class="bi bi-caret-down-fill justify-self-start"></i>
            </div>
          </div>
        </th>
        <th
          role="button"
          (dblclick)="sortBy('price')"
          style="user-select: none"
        >
          <div class="d-flex flex-row gap-1 align-items-center">
            Price
            <div class="d-flex flex-column gap-0 d-inline-flex">
              <i class="bi bi-caret-up-fill justify-self-end"></i>
              <i class="bi bi-caret-down-fill justify-self-start"></i>
            </div>
          </div>
        </th>
        <th
          role="button"
          (dblclick)="sortBy('category')"
          style="user-select: none"
        >
          <div class="d-flex flex-row gap-1 align-items-center">
            Category
            <div class="d-flex flex-column gap-0 d-inline-flex">
              <i class="bi bi-caret-up-fill justify-self-end"></i>
              <i class="bi bi-caret-down-fill justify-self-start"></i>
            </div>
          </div>
        </th>
        <th
          role="button"
          (dblclick)="sortBy('status')"
          style="user-select: none"
        >
          <div class="d-flex flex-row gap-1 align-items-center">
            Status
            <div class="d-flex flex-column gap-0 d-inline-flex">
              <i class="bi bi-caret-up-fill justify-self-end"></i>
              <i class="bi bi-caret-down-fill justify-self-start"></i>
            </div>
          </div>
        </th>
        <th
          role="button"
          (dblclick)="sortBy('quantity')"
          style="user-select: none"
        >
          <div class="d-flex flex-row gap-1 align-items-center">
            Quantity
            <div class="d-flex flex-column gap-0 d-inline-flex">
              <i class="bi bi-caret-up-fill justify-self-end"></i>
              <i class="bi bi-caret-down-fill justify-self-start"></i>
            </div>
          </div>
        </th>
        <th
          role="button"
          (dblclick)="sortBy('availability')"
          style="user-select: none"
        >
          <div class="d-flex flex-row gap-1 align-items-center">
            Availability
            <div class="d-flex flex-column gap-0 d-inline-flex">
              <i class="bi bi-caret-up-fill justify-self-end"></i>
              <i class="bi bi-caret-down-fill justify-self-start"></i>
            </div>
          </div>
        </th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (product of filteredProducts$ | async ; track product.id) {
      <tr>
        <td class="align-middle">
          <input type="checkbox" name="" id="" />
        </td>
        <td>
          <img
            [src]="product.image"
            alt="{{ product.name }}"
            class="img-fluid"
            style="
              min-width: 50px;
              width: 50px;
              max-width: 50px;
              min-height: 50px;
              height: 50px;
              max-height: 50px;
              object-fit: cover;
              object-position: center;
              background-color: antiquewhite;
            "
          />
        </td>
        <td class="align-middle">{{ product.name }}</td>
        <td class="align-middle">{{ product.price }}</td>
        <td class="align-middle">{{ product.category }}</td>
        <td class="align-middle">{{ product.status }}</td>
        <td class="align-middle">{{ product.quantity }}</td>
        <td class="align-middle">{{ product.availability }}</td>
        <td class="align-middle">
          <button class="btn btn-sm btn-outline-primary">✏️</button>
          <button class="btn btn-sm btn-outline-danger">🗑️</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
