<div class="product-details-container container p-5 w-100">
  <div class="product-image">
    <img [src]="getImageUrl(product.imageUrl)" alt="{{ product.name }}" />
  </div>
  <div
    class="product-info d-flex flex-column gap-3 justify-content-between border rounded"
  >
    <div class="p-2">
      <div class="d-flex justify-content-between align-items-center">
        <h1>{{ product.name }}</h1>
        <h2 class="product-price">
          <span class="price">{{ product.price | currency : "USD" }}</span>
        </h2>
      </div>
      <app-star-rating [rating]="product.rating"></app-star-rating>
      <p>{{ product.artisan.user.username }}</p>
      <div class="product-description">
        <h5>Description</h5>
        <p>{{ product.description }}</p>
      </div>
    </div>
    <div
      class="add-to-cart-card d-flex flex-row justify-content-between align-items-center border-top"
    >
      @if(product.quantityLeft > 0) {
      <div class="quantity">
        <button (click)="increment(spanRef, product)">+</button>
        <span #spanRef>1</span>
        <button (click)="decrement(spanRef)">-</button>
      </div>
      <button
        class="btn addToCart d-flex flex-row gap-2"
        (click)="addToCart(product.id, spanRef)"
      >
        <p>Add to Cart</p>
        <i class="bi bi-basket3"></i>
      </button>
      } @else {
      <div class="out-of-stock text-danger">
        <p>Out of Stock</p>
      </div>
      }
    </div>
  </div>
</div>
<div class="product-reviews-container container p-5 w-100">
  <h2>Reviews</h2>
  @if (alreadyBoughtAndNotReviewed) {
  <form (ngSubmit)="submitReview()" #reviewForm="ngForm" class="mb-4">
    <div class="mb-2">
      <label for="score" class="form-label">Score</label>
      <select
        id="score"
        class="form-select"
        required
        [(ngModel)]="productReview.score"
        name="score"
      >
        <option *ngFor="let s of [1, 2, 3, 4, 5]" [value]="s">{{ s }}</option>
      </select>
    </div>
    <div class="mb-2">
      <label for="comment" class="form-label">Commentaire</label>
      <textarea
        id="comment"
        class="form-control"
        rows="3"
        required
        [(ngModel)]="productReview.comment"
        name="comment"
      ></textarea>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="reviewForm.invalid"
    >
      Envoyer mon avis
    </button>
  </form>
  }
  <ng-container
    *ngIf="
      product.productReviews && product.productReviews.length > 0;
      else noReviews
    "
  >
    @for (review of product.productReviews; track review.id) {
    <div>
      <div class="review-item mb-3 p-3 border rounded">
        <div class="d-flex gap-2 align-items-center pb-1">
          <span class="review-date">{{
            review.createdAt | date : "short"
          }}</span>
          <app-star-rating [rating]="review.rating"></app-star-rating>
        </div>
        <p class="review-author border-top pt-1">
          {{ review.customerComment }}
        </p>
        <div>
          <div class="ms-2 border rounded p-2">
            @if( review.artisanResponse) {
            <p class="review-response">
              {{ review.artisanResponse }}
              <span style="float: right; font-size: 0.9em">{{
                review.updatedAt | date : "short"
              }}</span>
            </p>
            } @else if (isOwnedByArtisan) {
            <form
              (ngSubmit)="respondToReview(review.id)"
              #responseForm="ngForm"
            >
              <div class="mb-2">
                <label for="response-{{ review.id }}" class="form-label"
                  >Your reaction</label
                >
                <textarea
                  id="response-{{ productReview.id }}"
                  class="form-control"
                  rows="2"
                  required
                  [(ngModel)]="productReview.responseText"
                  name="responseText-{{ productReview.id }}"
                ></textarea>
              </div>
              <button
                type="submit"
                class="btn btn-sm btn-success"
                [disabled]="responseForm.invalid"
              >
                Envoyer la réponse
              </button>
            </form>
            } @else {
            <p class="review-response">No response from artisan yet.</p>
            }
          </div>
        </div>
      </div>
    </div>
    }
  </ng-container>
  <ng-template #noReviews>
    <p>No reviews available for this product.</p>
  </ng-template>
</div>
